*.car
*.cfg
*.COM
*.EXE
*.lst
*.MAP
*.o
*.s
*.swp
.backups
.DS_Store
.idea
cmake-build*
Icon?
Temp

# vim: set nowrap tabstop=8 shiftwidth=4 softtabstop=4 noexpandtab : 
# vim: set textwidth=0 filetype=conf foldmethod=marker nospell : 
target
*.ali
b~c*
*.npp
