*.ali
*.car
*.COM
*.EXE
*.lst
*.MAP
*.npp
*.o
*.swp
.backups
.DS_Store
.idea
b~c*
cmake-build*
Icon?
target
Temp
#
# vim: set nowrap tabstop=8 shiftwidth=4 softtabstop=4 noexpandtab : 
# vim: set textwidth=0 filetype=conf foldmethod=marker nospell : 
